[user]
    name = Leif Wickland
    email = leifwickland@gmail.com
[core]
    editor = vim -X
[alias]
    ; Laziness is a virtue; short aliases
    st = status
    ci = commit
    cA = commit -a --amend -C HEAD ; Commit, merging into the previous commit and reusing its message. Named based on fugitive analog.
    br = branch
    co = checkout
    pp = !echo "Pulling" && git pull && echo "" && echo "Pushing" && git push
    prp = !echo "Pulling" && git pull && echo "" && echo "Rebasing" && git rebase -i origin && echo "" && echo "Pushing" && git push

    ; Misc undo
    unstage=reset HEAD --
    revertToIndex=checkout --
    revertToHead=checkout HEAD
    revertLastCommit=revert HEAD

    ; So many ways to diff
    dall = diff --no-ext-diff
    d = diff --relative --no-ext-diff
    dv = diff --ext-diff
    df = diff --relative --no-ext-diff --name-only
    dfall = diff --no-ext-diff --name-only
    ds = diff --relative --no-ext-diff --name-status
    dsall = diff --no-ext-diff --name-status
    di = diff-index --color=auto --cached --patch --relative HEAD
    dfi = diff-index --color=auto --cached --name-only --relative HEAD
    diall = diff-index --color=auto --cached --patch HEAD
    dfiall = diff-index --color=auto --cached --name-only HEAD
    do = diff --relative --no-ext-diff origin/master..HEAD
    dvo = diff --ext-diff origin/master..HEAD
    dfo = diff --relative --no-ext-diff --name-only origin/master..HEAD
    dfallo = diff --no-ext-diff --name-only origin/master..HEAD
    dso = diff --relative --no-ext-diff --name-status origin/master..HEAD
    dsallo = diff --no-ext-diff --name-status origin/master..HEAD

    lg = log -p
    logtree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --topo-order --date=relative

    dryad = add -n . ; Oh, mythological puns, how you slay me.

    ; Rebase steps
    reb = rebase -i origin/master
    now = !git commit --amend --date=`date +%s`
    con = rebase --continue

    ; Enable rebase on pull (instead of merge on pull) for the current checkout
    enableRebasePull = config branch.master.rebase true
[diff]
    external = ~/bin/git_diff_wrapper
[pager]
    ; Without this less jumps in front of vim for external diffs and fubars the terminal.
    ; However, exporting GITPAGER="less -FXR" in .bashrc allows me to get paged, colored diffs
    diff = 
[color]
    ui = auto
[branch] 
    autosetuprebase = always ; When creating a clone, configure it to rebase on pull (instead of merge on pull).  Avoids merge commits.
[push]
	default = simple ; Default to only pushing the current branch
